<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="emailServiceUserName" value="[RPGRoster@gmail.com]" />
		<add key="emailServicePassword" value="[BigfootDavid1094?]" />
	</appSettings>
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
	
</configuration>

